@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*Setando cor princippal*/
body{
    background-color: rgb(159, 200, 36);
}

header.cabecalho{
    margin-top: 50px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

/*Essa é a div principal do formulário, tudo que for alterado em todo o formulário tem que ser aqui*/
div.formulario{
    padding: 10px;
    margin: 20px 100px 0px 100px;
    background-color: rgb(255, 255, 255);
}
form {
    margin: 10px;
    border: 1px solid black;
    text-align: center;
}

form .opcao{
    padding: 10px;
}
/*Botões que servirão para enviar e submeter*/
.butao {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border: 1px solid black;
}

.butao:hover{
    background-color:  rgb(159, 200, 36);
    border: 2px solid black;
}
/*FIM - Botões que servirão para enviar e submeter*/



