*{
    margin: 0;
    padding: 0;
}

header.cabecalho{
    margin-top: 50px;
    text-align: center;
}

form {
    margin: 20px 100px 0px 100px;
    border: 1px solid black;
}

form .opcao{
    padding: 10px;
}