html{
    font-size: 62.5%;
}

*{
    margin: 0px;
    padding: 0px;
}

.pai{
    width: 30rem;
    height: 30rem;
    background-color: yellow;
}

p{
    font-size: 2rem;
}                       /*A unidades de medida EM e REM trabalham usando multiplicação.
                        rem - usa o root (html) como referência;
                        em - usa o "pai" como referência*/

.response{ /*Div com tamanho da tela (todos os tamanhos)*/
    width:100vw;
    height: 100vh;
     /*Para deixar responsivo*/
    background: blue;
}

.responseUm{ /*Div com tamanho da tela (todos os tamanhos)*/
    width:100vw;
    height: 100vh;
     /*Para deixar responsivo*/
    background: rgb(255, 0, 255);
}

.responseDois{ /*Div com tamanho da tela (todos os tamanhos)*/
    width:100vw;
    height: 100vh;
     /*Para deixar responsivo*/
    background: rgb(0, 255, 102);
}
